<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>

    <!-- We replace the external TextLibrary with the separate debug and release gcc versions -->
    <RemoveLibrary library="TextLib.lib"/>
    <AddLibrary configuration="Debug" library="libTextLibD.a"/>
    <AddLibrary configuration="Release" library="libTextLibR.a"/>

    <RemoveLibraryPath path="Externals/TextLibrary/Libs/Windows x86/Debug"/>
    <RemoveLibraryPath path="Externals/TextLibrary/Libs/Windows x86/Release"/>
    <AddLibraryPath configuration="Debug" path="Externals/TextLibrary/libs/gcc/Debug"/>
    <AddLibraryPath configuration="Release" path="Externals/TextLibrary/libs/gcc/Release"/>
    
  </AllProjects>
  
</MakeItSo>