<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>

    <!-- We replace the path to ShowText_Hello with different paths in the debug and release gcc versions -->
    <RemoveIncludePath path="ShowText_Hello"/>
    <AddIncludePath configuration="Debug" path="ShowText_Goodbye"/>
    <AddIncludePath configuration="Release" path="ShowText_Worm"/>
    
  </AllProjects>
  
</MakeItSo>