<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>

    <!-- We replace preprocessor definition TO_REPLACE with REPLACEMENT -->
    <RemovePreprocessorDefinition definition="TO_REPLACE" />
    <AddPreprocessorDefinition configuration="Debug" definition="REPLACEMENT" />
    <AddPreprocessorDefinition configuration="Release" definition="REPLACEMENT" />

    <!-- We add new preprocessor definitions -->
    <AddPreprocessorDefinition configuration="Debug" definition="NEW_DEFINITION_DEBUG" />
    <AddPreprocessorDefinition configuration="Release" definition="NEW_DEFINITION_RELEASE" />
    
  </AllProjects>
  
</MakeItSo>