<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>
  </AllProjects>

  <!-- Settings for the 'HelloLib' project -->
  <Project name="HelloLib">

    <!-- We build the HelloLib library as shared-objects, even though it is a static library in Visual Studio -->
    <ConvertStaticLibraryToSharedObjects convert="true"/>

  </Project>
  
</MakeItSo>