<MakeItSo>
  
  <!-- Settings that apply to all projects in the solution -->
  <AllProjects>

    <!-- We replace the external TextLibrary with the separate debug and release gcc versions -->
    <AddLibrary configuration="Debug" library="libA.a"/>
    <AddLibrary configuration="Debug" library="libB.a"/>
    <AddLibrary configuration="Release" library="libC.a"/>
    <AddLibrary configuration="Release" library="libD.a"/>

    <AddLibraryPath configuration="Debug" path="Externals/TextLibrary/Libs/gcc/DebugAAA"/>
    <AddLibraryPath configuration="Release" path="Externals/TextLibrary/Libs/gcc/ReleaseBBB"/>
    
  </AllProjects>

  <!-- Settings for the 'App' project -->
  <Project name="App">

    <!-- We replace the external TextLibrary with the separate debug and release gcc versions -->
    <RemoveLibrary library="TextLibrary.lib"/>
    <AddLibrary configuration="Debug" library="libTextLibD.a"/>
    <AddLibrary configuration="Release" library="libTextLibR.a"/>

    <RemoveLibraryPath path="Externals/TextLibrary/Libs/Windows x86/Debug"/>
    <RemoveLibraryPath path="Externals/TextLibrary/Libs/Windows x86/Release"/>
    <AddLibraryPath configuration="Debug" path="Externals/TextLibrary/Libs/gcc/Debug"/>
    <AddLibraryPath configuration="Release" path="Externals/TextLibrary/Libs/gcc/Release"/>

  </Project>
  
</MakeItSo>